
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap');

html 
{
  scroll-behavior: smooth;
}

body 
{
  font-family: 'Baloo Bhai 2', cursive;
  background: #c4c4c4;
  font-size: 100%;
  background-image: url("https://raw.githubusercontent.com/cashuaa/cashuaa.github.io/main/ccsPictures/background.png");
}

* 
{
  border-radius: 2vh;
  margin: 2vh;
  padding: 1vh;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
}
p 
{
  color: white;
}

a
{
  color: white;
}

li
{
  list-style-type: none;
}

.scroll-area
{

  border: 5px solid;
  border-color: cyan;

  scroll-snap-type: y mandatory;
}
#gameTitle
{
  top:0px;
  font-size: 300%;
  color: whitesmoke;
  text-align: center;

  justify-content: center;
  height:1vh;
  margin:0px;
  padding:0px;
  padding-bottom:8vh;
  text-transform: uppercase
}

#naval
{
  color: dimgrey;
}

#ground
{
  color: dimgrey;
}

.navbar 
{
  top:0px;
  left:0px;
  height:50px;
  width:35%;
  position: absolute;
  background-color:#333;
}

.navbar a
{
  float:left;
  color: #f2f2f2;
  text-align: center;
  text-decoration:none;
  font-size:17px;
}

.navbar a:hover 
{
  background: #ddd;
  color:black;
}

.pageOne
{
  scroll-snap-align: center;
  height: 85vh;

  border: 5px solid;
  border-color:darkorange;

}

.mainGame
{
  position: relative;
  float: left;
  height: 80vh;
  width: 37vw;

  border: 5px solid;
  border-color:yellow;

}

.search-box
{
  position: relative;
  float:left;
  height: 80vh;
  width: 37vw;

  border: 5px solid;
  border-color:green;

}

.rules-container
{
  justify-content: center;
  scroll-snap-align: center;
  height: 100vh;
  line-height: 100vh;

  border: 5px solid;
  border-color:powderblue;

}

span
{
  display: inline-block;
  vertical-align: middle;
  line-height: 10vh;
}

.list-container
{  
  scroll-snap-align: center;
  height: 100vh;

  border: 5px solid;
  border-color:rebeccapurple;

}

.result-box ul
{
  border-top: 1px;
  padding: 1vh 1vw;
}

.result-box ul li
{
  list-style:none;
  border-radius: 3px;
  padding: 1vh 1vw;
  cursor: pointer;
}

.result-box ul li:hover
{
  background:#e9f3ff;
}

.result-box{
  max-height: 50vh;
  overflow-y: scroll;
}

form 
{
  color: white;
}

img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}

