
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap');

html 
{
  scroll-behavior: smooth;
}

body 
{
  font-family: 'Baloo Bhai 2', cursive;
  background: #c4c4c4;
  font-size: 100%;
  background-image: url("https://raw.githubusercontent.com/cashuaa/cashuaa.github.io/main/ccsPictures/background.png");
}

.aircraftLineDrawings 
{
  display:none;
}

.aircraftRealDrawings
{
  display:none;
}


* 
{
  border-radius: 2vh;
  margin: 2vh;
  padding: 1vh;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
}

p 
{
  color: white;
}

a
{
  color: white;
}

li
{
  list-style-type: none;
  margin: 0vh;
  padding: 0vh;
}

#gameTitle
{
  top:0px;
  font-size: 300%;
  color: whitesmoke;
  text-align: center;

  justify-content: center;
  height:1vh;
  margin:0px;
  padding:0px;
  padding-bottom:8vh;
  text-transform: uppercase
}

#naval
{
  color: dimgrey;
}

#ground
{
  color: dimgrey;
}

#aircraft-line-list
{
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  display:block;
}

#aircraft-real-list
{
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  display:none;
  overflow-x: scroll;
  max-height: 45vh;
}

.navbar 
{
  top:0px;
  left:0px;
  position: absolute;
  background-color:#333;
}

.navbar a
{
  float:left;
  color: #f2f2f2;
  text-align: center;
  text-decoration:none;
  font-size:17px;
}

.navbar a:hover 
{
  background: #ddd;
  color:black;
}

.pageOne
{
  position: relative;
  display: inline-flex;
  border: 5px solid;
  border-color:darkorange;

}

.mainGame
{
  position: relative;
  float: left;

  border: 5px solid;
  border-color:yellow;

}


.guess-and-results
{
  position: relative;
  float: left;
  vertical-align: auto;
  
  border: 5px solid;
  border-color:red;
  
}

.search-box
{
  position: relative;
  vertical-align: top;
  width: 50vh;
  height: 45vh;

  border: 5px solid;
  border-color:green;

}

.box{
  vertical-align: bottom;
  justify-content: center;
  width: 100%;
  height: 10%;
  border: 1px solid black;
  margin: 0px;
  padding: 5px;
  background-color:rgb(68, 68, 68);
  font-size: 30px;
  color: white;
  text-align: center;
}

span
{
  display: inline-block;
  vertical-align: middle;
  line-height: 10vh;
}

.list-container
{  
  scroll-snap-align: center;

  border: 5px solid;
  border-color:rebeccapurple;
}

.result-box ul
{
  border-top: 1px;
  padding: 1vh 1vw;
}

.result-box ul li
{
  list-style:none;
  border-radius: 3px;
  padding: 1vh 1vw;
  cursor: pointer;
}

.result-box ul li:hover
{
  background:#e9f3ff;
}

.result-box{
  max-height: 25vh;
  overflow-y: scroll;

}

img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}
